.bigDiv{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.div-allButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  gap: 16px;
  height: 40px;
  margin: 80px;

}

.buttonsRight{
  display: flex;
  width: 280px;
  gap: 16px;

}

.menu-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 86px;
  height: 40px;

  background: linear-gradient(
      0deg,
      rgba(8, 30, 52, 0.05),
      rgba(8, 30, 52, 0.05)
    ),
    #f0f0f0;
  border-radius: 100px;
  border-color: transparent;
}

.menu-buttonsText {
  margin: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  display: flex;
  align-items: center;
  text-align: center;
  order: 1;

  color: #081e34;
}

.buttonPlus{
    width: 52px;
    height: 52px;
    background-color: #081E34;
    color: #F0F0F0;
    font-size: 26px;
    border-radius:100px;
    border-color: transparent;

}

.ListOfTasks{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;
  height: 40px;
  margin-left: 80px;
  margin-right: 80px;
}

.tasksWithButtonsModals{
  display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 5px;
}

.buttonsModal{
  display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    left: -18px;
    width: fit-content;
    gap: 3px;
}
.TaskButtonsToModals{
  display: flex;
}

.newModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.taskButtonsStyle{
  width: 28px;
  height: 28px;
}
