p {
  margin: 0px;
}

img {
  border-color: transparent;
}

button {
  border-color: transparent;
  background-color: transparent;
  text-decoration: none !important;
}

.modalStyle {
  width: 236px;
  height: 202px;
  background-color: #e4e6e7;
  border-radius: 17px;
  position: absolute;
  top: 6%;
  right: 10%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 10px;
}

.ModalInputStyle {
  padding: 0px;
  margin: 0px;
  width: inherit;
  border-color: transparent;
  height: 120px;
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: start;
}

.formInput {
  background-color: #e4e6e7;
  top: 6%;
  right: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toAddButton {
  width: 76px;
  height: 40, + px;
  border-radius: 100px;
  background-color: #081e34;
  color: #ffffff;
}

.tasks-List{
  display: flex;
    flex: 1;
}

.style-modals {
width: 80%;
}

.order-correction{
  display: flex;
  order:1;
}

.deleteModal{
  display: flex;
}

img {
  border-color: transparent;
  outline: transparent;
}

.buttonsModalStyle{
  height: 28px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 130px;
    border-color: transparent;
    border-radius: 12px;
    /* background-color: #E4E6E7; */
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.16));
}

.threedotsStyle{
  position: relative;
    width: 18px;
    height: 28px;
}

.TrashModalButtons {
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 12px;
background-color: #E4E6E7;
filter: drop-shadow(0px 4px 4px #E4E6E7);
width: 160px;
padding: 12px 4px;
gap: 10px;
position: relative;
top: 5px;
    left: -10px;
}

.trashButtonStyle{
  display: flex;
  gap: 5px;
  wisth: 100%;
  margin: 0px;
  padding: 0px;
  margin-left: 4px;
}
