.div-footer {
    height: 38px;
    margin: 32px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    margin: 0px;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
}

.footer-left {
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.5;
}

a {
    color: inherit;
}
